.App {
  text-align: left;
 
}

a.social:hover {
  transform: translateY(-2px);
}

a.facebook {
  color: #4968ad;
}

a.instagram {
  color: black;
}

a.social {
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
}
.iconDetails {
  margin-left:2%;
 float:left; 
 height:40px;
 width:40px;	
 } 
 
 .container2 {
   width:270px;
   height:auto;
   padding:1%;
     float:left;
 }
 h4{margin:0}
 .left {float:left;width:45px;}
 .right {float:left;margin:0 0 0 5px;width:215px;}